@font-face {
    font-family: 'Inter';
    src: url(../assets/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
}

.nav-button--circle {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #ffd000;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -20px;
}

.catalog-content{
    display: flex;
}
.catalog-navbar {
    display: flex;
    margin-left: 4%;
    flex-direction: column;
    width: 21%;
    align-items: center;
    padding-top: 40px;
    gap: 2px;
}

.include-btn, .exclude-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #fff;
    transition: background 0.2s;
}
.include-btn:hover,
.exclude-btn:hover {
    background: #b7ede2;
}

.product-button {
    height: 50px;
    width: 170px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #0F8EC1;
    background: #65FFF2;
    border: none;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
    cursor: pointer;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
    text-decoration: none
}
.product-button:hover {
    background: #4FD9F6;
}
.product-button.active {
    background: #4FD9F6 !important;
  }
  

.content-block {
    display: none;
    padding-top: 25px;
    flex-basis: 75%;
    padding-left: 10%;
    padding-top: 20px;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}
.content-block.active {
    display: block;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.product-card {
    background: #65FFF2;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 300px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Inter', sans-serif;
    color: #0F8EC1;
}
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}
