{% load static %}

<html lang="ru">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Food</title>
        <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    </head>

    <body>
        
        <div id="heading">
            <span>Good Food</span>
        </div>

        <div id="body">
            <div class="navbar">
                <a href="{% url 'index' %}" class="nav-button">Главная</a>
                <a href="{% url 'catalog' %}" class="nav-button">Каталог</a>
                <a href="#" class="nav-button">Для вас</a>

                <div class="auth-buttons">
                    <a href="#" class="auth-button">Вход</a>
                    <a href="#" class="auth-button">Регистрация</a>
                </div>

            </div>

            

        </div>

    </body>

</html>