{% load static %}

<html lang="ru">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Food. Catalog</title>
        <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/catalog.css' %}">
    </head>

    <body>
        
        <div id="heading">
            <span>Good Food</span>
        </div>

        <div id="body">
            <div class="navbar">
                <a href="{% url 'index' %}" class="nav-button">Главная</a>
                <a href="{% url 'catalog' %}" class="nav-button">Каталог<div class="nav-button--circle"></div></a>
                <a href="#" class="nav-button">Для вас</a>

                <div class="auth-buttons">
                    {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="auth-button">Профиль</a>
                    <a href="{% url 'logout' %}" class="auth-button">Выйти</a>
                    {% else %}
                    <a href="{% url 'signin' %}" class="auth-button">Вход</a>
                    <a href="{% url 'signup' %}" class="auth-button">Регистрация</a>
                    {% endif %}
                </div>

            </div>

            <script src="{% static 'utils/catalog.js' %}"></script>
            <div class="catalog-content">
                <div class="catalog-navbar">
                    {% for category in categories %}
                        <button data-target="#{{ category.name }}" class="product-button">
                            {% if category.ru_name %}
                                {{ category.ru_name }}
                            {% else %}
                                {{ category.name }}
                            {% endif %}
                        </button>
                    {% endfor %}
                </div>
    
                <div class="content-area">
                    {% for category in categories %}
                        <div id="{{ category.name }}" class="content-block {% if forloop.first %}active{% endif %}">
                            <div class="product-grid">
                                {% for product in products %}
                                    {% if product.category == category %}
                                        <div class="product-card">
                                            <h3>{{ product.name }}</h3>
                                            <h4>Состав: <br>
                                                Белки: {{ product.proteins }}<br>
                                                Жиры: {{ product.fats }}<br>
                                                Углеводы: {{ product.carbohydrates }}<br>
                                                Калорийность: {{ product.caloricity }}
                                            </h4>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </body>

</html>