{% load static %}

<html lang="ru">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Food. profile</title>
        <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/foru.css' %}">
    </head>

    <body>
        
        <div id="heading">
            <span>Good Food</span>
        </div>

        <div id="body">
            <div class="navbar">
                <a href="{% url 'index' %}" class="nav-button">Главная</a>
                <a href="{% url 'catalog' %}" class="nav-button">Каталог</a>
                {% if user.is_authenticated %}
                    <a href="#" class="nav-button restricted">Для вас<div class="nav-button--circle"></div></a>
                {% else %}
                    <script src="{ static 'utils/restrict.js' }"></script>
                {% endif %}
                
                <div class="auth-buttons">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="auth-button">Профиль</a>
                        <a href="{% url 'logout' %}" class="auth-button">Выйти</a>
                    {% else %}
                        <a href="{% url 'signin' %}" class="auth-button">Вход</a>
                        <a href="{% url 'signup' %}" class="auth-button">Регистрация</a>
                    {% endif %}
                </div>
            </div>
            
            <div class="container">
                <div class="left-panel">
                    <div class="user-info">
                        {% if user.is_authenticated %}
                            {% if user %}
                                <p>Ваши данные: </p>
                                <ul>
                                    <li>Пол: {{ user.profile.get_sex_display }}</li>
                                    <li>Возраст: {{ user.profile.age }} лет</li>
                                    <li>Рост: {{ user.profile.height }} см</li>
                                    <li>Вес: {{ user.profile.weight }} кг</li>
                                    <li>Цель: {{ user.profile.get_goal_display }}</li>
                                </ul>
                                <a href="{% url 'profile' %}" class="btn">Изменить данные</a>
                            {% else %}
                                <p>Заполните профиль для получения рекомендаций</p>
                                <a href="{% url 'profile' %}" class="btn">Перейти к профилю</a>
                            {% endif %}
                        {% endif %}
                    </div>
        
                    <div class="goal-selection">
                        <form method="post">
                            <label for="">Выберите цель:</label>
                            {% csrf_token %}
                            {{ goal_form.goal }}
                            <button type="submit" class="btn">Применить цель</button>
                        </form>
                    </div>

                    <div class="rec-info">
                        {% if user.is_authenticated %}
                            {% if user.profile %}
                                <p>Базовый метаболизм: {{ macros.calories|floatformat:0 }} ккал</p>
                                <p>Рекомендуемая норма:</p>
                                <ul>
                                    <li>Белки: {{ macros.proteins|floatformat:1 }} г</li>
                                    <li>Жиры: {{ macros.fats|floatformat:1 }} г</li>
                                    <li>Углеводы: {{ macros.carbohydrates|floatformat:1 }} г</li>
                                </ul>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                    
                <div class="products">
                    {% for product in products %}
                        <div class="product-card">
                            <h3>{{ product.name }}</h3>
                                Белки: {{ product.proteins }}<br>
                                Жиры: {{ product.fats }}<br>
                                Углеводы: {{ product.carbohydrates }}<br>
                                Калорийность: {{ product.caloricity }}
                        </div>
                    {% empty %}
                        <p>Нет продуктов для вашей цели</p>
                    {% endfor %}
                </div>
            </div>

        </div>

    </body>

</html>