{% load static %}

<html lang="ru">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Food</title>
        <link rel="icon" type="image" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    </head>

    <body>
        
        <div id="heading">
            <span>Good Food</span>
        </div>

        <div id="body">
            <div class="navbar">
                <a href="{% url 'index' %}" class="nav-button">Главная<div class="nav-button--circle"></div></a>
                <a href="{% url 'catalog' %}" class="nav-button">Каталог</a>
                <a href="#" class="nav-button">Для вас</a>

                <div class="auth-buttons">
                    <a href="#" class="auth-button">Вход</a>
                    <a href="#" class="auth-button">Регистрация</a>
                </div>

            </div>

            <div class="main-info1">
                <p class="h1text"><img class="info1-img" src="{% static 'assets/icon.png' %}" alt="">Разнообразие еды</p>
                <p class="text">Больше не придётся есть одно и тоже. В нашем каталоге вы найдете множество продуктов на самый разный вкус!</p>
            </div>
            <div class="main-info2">
                <p class="h1text"><img class="info2-img" src="{% static 'assets/lifestyle.png' %}" alt="">Больше никаких неработающих диет!</p>
                <p class="text">Только здоровое и вкусное питание!</p>
            </div>

            <div id="index-image">
                <img src="{% static 'assets/home_page.png' %}" alt="">
            </div>

        </div>

    </body>

</html>